# See https: //help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.idea
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel


public/staging/*
dist/build-manifest.json
dist/cache/webpack/client-development-fallback/0.pack.gz
dist/cache/webpack/client-development-fallback/index.pack.gz.old
dist/cache/webpack/client-development/0.pack.gz
dist/cache/webpack/client-development/1.pack.gz
dist/cache/webpack/client-development/2.pack.gz
dist/cache/webpack/client-development/3.pack.gz
dist/cache/webpack/client-development/4.pack.gz
dist/cache/webpack/client-development/5.pack.gz
dist/cache/webpack/client-development/index.pack.gz
dist/cache/webpack/client-development/index.pack.gz.old
dist/cache/webpack/server-development/0.pack.gz
dist/cache/webpack/server-development/1.pack.gz
dist/cache/webpack/server-development/2.pack.gz
dist/cache/webpack/server-development/3.pack.gz
dist/cache/webpack/server-development/4.pack.gz
dist/cache/webpack/server-development/5.pack.gz
dist/cache/webpack/server-development/index.pack.gz
dist/cache/webpack/server-development/index.pack.gz.old
dist/package.json
dist/react-loadable-manifest.json
dist/server/_error.js
dist/server/middleware-build-manifest.js
dist/server/middleware-manifest.json
dist/server/middleware-react-loadable-manifest.js
dist/server/next-font-manifest.js
dist/server/next-font-manifest.json
dist/server/pages-manifest.json
dist/server/pages/_app.js
dist/server/pages/_document.js
dist/server/pages/_error.js
dist/server/pages/index.js
dist/server/src_worlds_Xyz3DWorld_tsx.js
dist/server/vendor-chunks/@babel.js
dist/server/vendor-chunks/@emotion.js
dist/server/vendor-chunks/@geckos.io.js
dist/server/vendor-chunks/@msgpack.js
dist/server/vendor-chunks/@react-spring.js
dist/server/vendor-chunks/@react-three.js
dist/server/vendor-chunks/@swc.js
dist/server/vendor-chunks/@use-gesture.js
dist/server/vendor-chunks/bidi-js.js
dist/server/vendor-chunks/camera-controls.js
dist/server/vendor-chunks/caniuse-lite.js
dist/server/vendor-chunks/cbor-extract.js
dist/server/vendor-chunks/cbor-x.js
dist/server/vendor-chunks/culori.js
dist/server/vendor-chunks/debounce.js
dist/server/vendor-chunks/detect-gpu.js
dist/server/vendor-chunks/eventemitter3.js
dist/server/vendor-chunks/fflate.js
dist/server/vendor-chunks/hoist-non-react-statics.js
dist/server/vendor-chunks/its-fine.js
dist/server/vendor-chunks/lodash.clamp.js
dist/server/vendor-chunks/lodash.omit.js
dist/server/vendor-chunks/lodash.pick.js
dist/server/vendor-chunks/maath.js
dist/server/vendor-chunks/meshline.js
dist/server/vendor-chunks/nanoid.js
dist/server/vendor-chunks/next.js
dist/server/vendor-chunks/nipplejs.js
dist/server/vendor-chunks/node-gyp-build-optional-packages.js
dist/server/vendor-chunks/object-assign.js
dist/server/vendor-chunks/peerjs-js-binarypack.js
dist/server/vendor-chunks/peerjs.js
dist/server/vendor-chunks/picocolors.js
dist/server/vendor-chunks/postcss.js
dist/server/vendor-chunks/potpack.js
dist/server/vendor-chunks/prop-types.js
dist/server/vendor-chunks/react-composer.js
dist/server/vendor-chunks/react-device-detect.js
dist/server/vendor-chunks/react-dom.js
dist/server/vendor-chunks/react-error-boundary.js
dist/server/vendor-chunks/react-is.js
dist/server/vendor-chunks/react-merge-refs.js
dist/server/vendor-chunks/react-reconciler.js
dist/server/vendor-chunks/react-use-measure.js
dist/server/vendor-chunks/react.js
dist/server/vendor-chunks/scheduler.js
dist/server/vendor-chunks/sdp.js
dist/server/vendor-chunks/source-map-js.js
dist/server/vendor-chunks/spacesvr.js
dist/server/vendor-chunks/stats.js.js
dist/server/vendor-chunks/styled-jsx.js
dist/server/vendor-chunks/stylis.js
dist/server/vendor-chunks/suspend-react.js
dist/server/vendor-chunks/three-mesh-bvh.js
dist/server/vendor-chunks/three-stdlib.js
dist/server/vendor-chunks/three.js
dist/server/vendor-chunks/troika-three-text.js
dist/server/vendor-chunks/troika-three-utils.js
dist/server/vendor-chunks/troika-worker-utils.js
dist/server/vendor-chunks/ua-parser-js.js
dist/server/vendor-chunks/webgl-sdf-generator.js
dist/server/vendor-chunks/webrtc-adapter.js
dist/server/vendor-chunks/zustand.js
dist/server/webpack-runtime.js
dist/static/chunks/_error.js
dist/static/chunks/main.js
dist/static/chunks/pages/_app.js
dist/static/chunks/pages/_error.js
dist/static/chunks/pages/index.js
dist/static/chunks/polyfills.js
dist/static/chunks/react-refresh.js
dist/static/chunks/src_worlds_Xyz3DWorld_tsx.js
dist/static/chunks/webpack.js
dist/static/development/_buildManifest.js
dist/static/development/_ssgManifest.js
dist/static/webpack/079088d07c1c05cd.webpack.hot-update.json
dist/static/webpack/2843d8573dbc8e0a.webpack.hot-update.json
dist/static/webpack/2f74ce660bd1a1b5.webpack.hot-update.json
dist/static/webpack/31dc5aa8291ff1cc.webpack.hot-update.json
dist/static/webpack/47be247d12f4a64b.webpack.hot-update.json
dist/static/webpack/480e7c4cf770476f.webpack.hot-update.json
dist/static/webpack/4b6a45b7b666b802.webpack.hot-update.json
dist/static/webpack/633457081244afec._.hot-update.json
dist/static/webpack/95f07a3161f85ea2.webpack.hot-update.json
dist/static/webpack/9f10e19b984083e2.webpack.hot-update.json
dist/static/webpack/b01862a2be24f429.webpack.hot-update.json
dist/static/webpack/b4a919bb3ee5a326.webpack.hot-update.json
dist/static/webpack/bd1d75267870be1f.webpack.hot-update.json
dist/static/webpack/bdca930794450b73.webpack.hot-update.json
dist/static/webpack/d90f6231a26e4e0c.webpack.hot-update.json
dist/static/webpack/ddbd9b6a8baac071.webpack.hot-update.json
dist/static/webpack/pages/_app.079088d07c1c05cd.hot-update.js
dist/static/webpack/pages/_app.2f74ce660bd1a1b5.hot-update.js
dist/static/webpack/pages/_app.480e7c4cf770476f.hot-update.js
dist/static/webpack/pages/_app.95f07a3161f85ea2.hot-update.js
dist/static/webpack/pages/_app.b01862a2be24f429.hot-update.js
dist/static/webpack/pages/_app.ddbd9b6a8baac071.hot-update.js
dist/static/webpack/src_worlds_Xyz3DWorld_tsx.2843d8573dbc8e0a.hot-update.js
dist/static/webpack/src_worlds_Xyz3DWorld_tsx.31dc5aa8291ff1cc.hot-update.js
dist/static/webpack/src_worlds_Xyz3DWorld_tsx.4b6a45b7b666b802.hot-update.js
dist/static/webpack/src_worlds_Xyz3DWorld_tsx.9f10e19b984083e2.hot-update.js
dist/static/webpack/src_worlds_Xyz3DWorld_tsx.b4a919bb3ee5a326.hot-update.js
dist/static/webpack/src_worlds_Xyz3DWorld_tsx.bd1d75267870be1f.hot-update.js
dist/static/webpack/src_worlds_Xyz3DWorld_tsx.bdca930794450b73.hot-update.js
dist/static/webpack/src_worlds_Xyz3DWorld_tsx.d90f6231a26e4e0c.hot-update.js
dist/static/webpack/webpack.079088d07c1c05cd.hot-update.js
dist/static/webpack/webpack.2843d8573dbc8e0a.hot-update.js
dist/static/webpack/webpack.2f74ce660bd1a1b5.hot-update.js
dist/static/webpack/webpack.31dc5aa8291ff1cc.hot-update.js
dist/static/webpack/webpack.47be247d12f4a64b.hot-update.js
dist/static/webpack/webpack.480e7c4cf770476f.hot-update.js
dist/static/webpack/webpack.4b6a45b7b666b802.hot-update.js
dist/static/webpack/webpack.95f07a3161f85ea2.hot-update.js
dist/static/webpack/webpack.9f10e19b984083e2.hot-update.js
dist/static/webpack/webpack.b01862a2be24f429.hot-update.js
dist/static/webpack/webpack.b4a919bb3ee5a326.hot-update.js
dist/static/webpack/webpack.bd1d75267870be1f.hot-update.js
dist/static/webpack/webpack.bdca930794450b73.hot-update.js
dist/static/webpack/webpack.d90f6231a26e4e0c.hot-update.js
dist/static/webpack/webpack.ddbd9b6a8baac071.hot-update.js
dist/trace
dist/BUILD_ID
dist/cache/.tsbuildinfo
dist/cache/eslint/.cache_8rh6i2
dist/cache/webpack/client-production/index.pack.old
dist/export-detail.json
dist/prerender-manifest.js
dist/required-server-files.json
dist/routes-manifest.json
dist/server/chunks/126.js
dist/server/chunks/133.js
dist/server/chunks/157.js
dist/server/chunks/27.js
dist/server/chunks/356.js
dist/server/chunks/439.js
dist/server/chunks/450.js
dist/server/chunks/480.js
dist/server/chunks/499.js
dist/server/chunks/969.js
dist/server/chunks/font-manifest.json
dist/server/font-manifest.json
dist/server/pages/_app.js.nft.json
dist/server/pages/_document.js.nft.json
dist/server/pages/_error.js.nft.json
dist/server/pages/index.js.nft.json
dist/static/chunks/196.81c458cc41847a3c.js
dist/static/chunks/27.9b485c7cace761c1.js
dist/static/chunks/49334eea.d46396e808ef67ff.js
dist/static/chunks/b0654ee3.27c8ff7b0477c353.js
dist/static/chunks/c80c7663.9cc3c34b556e3466.js
dist/static/chunks/fb7d5399.9784ce377bc30d44.js
dist/static/chunks/framework-f707628ec3f247aa.js
dist/static/chunks/main-75623049b75f64cc.js
dist/static/chunks/pages/_app-2ebc360cd1d507ff.js
dist/static/chunks/pages/_error-08a9db0f433628d8.js
dist/static/chunks/pages/index-dcaf092f1b71ebb4.js
dist/static/chunks/polyfills-c67a75d1b6f99dc8.js
dist/static/chunks/webpack-ae28ab3f728817aa.js
dist/static/css/158ceb21c3d5961a.css
dist/static/t-1UTFRHD-ILwJ-TvjbO5/_buildManifest.js
dist/static/t-1UTFRHD-ILwJ-TvjbO5/_ssgManifest.js
dist/cache/webpack/client-production/0.pack
dist/cache/webpack/client-production/1.pack
dist/cache/webpack/client-production/2.pack
dist/cache/webpack/client-production/index.pack
dist/cache/webpack/server-production/0.pack
dist/cache/webpack/server-production/index.pack
